$(".cart-text").html("#{escape_javascript(render 'layouts/cart_text')}")
$(".shopping-cart").html("#{escape_javascript(render 'carts/shopping_cart')}")
$(".grand-total").html("#{escape_javascript(render 'layouts/grand_total')}")
