/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.product-tiles{
  display: inline-block;
  width: 25%;
  padding-right:50px;
  padding-left:50px;
}
